<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input class="form-control" placeholder="What todo?" autofocus
                   #todoTitle
                   (keyup.enter)="addTodo(todoTitle.value); todoTitle.value = ''">
            <span class="input-group-btn">
                <button id="addTaskBtn" class="btn btn-default" (click)="addTodo(todoTitle.value); todoTitle.value = ''">ADD</button>
            </span>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="list-group">
            <a href="#" class="list-group-item"
               *ngFor="let todo of todos"
               [class.active]="todo === selectedTodo"
               (click)="setSelected(todo)">

                <input type="checkbox" [(ngModel)]="todo.completed">
                <span>{{ todo.title }}</span>
                <button class="close close-btn" data-dismiss="alert" aria-label="Close"
                        (click)="deleteTodo(todo)">
                    <span aria-hidden="true">&times;</span>
                </button>

            </a>
        </div>
    </div>
    <div *ngIf="selectedTodo" class="col-lg-6">
        <todo-details [todo]="selectedTodo"></todo-details>
    </div>
</div>